<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hei, <%= @host.name %></h1>
    <p>
      Tusen takk for at du har meldt deg som vert til ISFiT 2015. Vi vet mange av deltakerne gleder seg til å bo i et norsk hjem og vi setter stor pris på at du vil bidra til å skape verdens største internasjonale studentfestival.
    </p>
    <p>
     Praktisk info:
     <ul>
      <li>Festivalen er fra 5. februar til 15. februar</li>
      <li>Deltakerne kommer den 5.februar og hentes på Studentersamfundet samme dag.</li>
      <li>Deltakerne vil ha tett program på dagtid og kveldstid under hele festivalen. ISFiT dekker alle måltid bortsett fra frokost. </li>
      <li>Deltakerne vil få gratis reise med buss under hele festivalen. </li>
      <li>Det vil komme mer informasjon per mail rett før festival. </li>

     </ul>
    </p>
    <p>Det er bindende påmelding, men hvis det skulle dukke opp noe som gjør at du er forhindret i å være vert så vennligst kontakt oss snarest på verter@isfit.org. </p>
    <p>Vi håper alle får en positiv opplevelse av å være vert. Det er fortsatt behov for flere verter, kanskje kjenner du noen som kan tenke seg å gjeste noen av de internasjonale gjestene? Hjelp oss gjerne med å spre ordet til venner / medstudenter / kolleger.
    </p>
    <p>Ved spørsmål så er det bare å ta kontakt på verter@isfit.org. </p>
    <p>Mvh,<br>
      Rekruttering ISFiT 2015</p>
  </body>
</html>
