<div class ="container">
    <div class='row newhost'>

      <div class='col-md-3 padding-cheat'>

        <%= bootstrap_form_for(@host) do |f| %>

        <% end %>
    </div>


    <div class='col-md-7'>
        <div class='forminfo bigtext2'>
            <h1>Vi har nok verter</h1>
            <p>Så bra du har lyst til å være vert. Vi er nå fylt opp, og har derfor ikke behov for flere verter.</p>
            <p>Om du er vert allerede, og har noen spørsmål så er det bare å ta kontakt på verter@isfit.org</p>
              <p><%= link_to 'Tilbake til forsiden', root_path, class: 'btn btn-large btn-primary' %></p>
      </div>
      </div>  
  </div>
</div>




