/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
  font-family: apertura-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  padding-bottom: 150px;
}

html {
  height: 100%;
  background-image: url(http://i.imgur.com/mU7FI.png);
  background-attachment: fixed;
}

.promo {
  background: url(bakgrunn.jpg) #101010 top no-repeat;
  height: 790px;
  width: 100%;
  color: white;
}

.hidden {
  display: none;
}

h1 a:hover {
  text-decoration: none;
}

#promo-text {
  padding-top: 52%;
  line-height: 2em;
  font-size: 3em;
}

#promo-text .gray {
  color: #F7F7F7;
}

.gray {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .75)
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 0;
}

#content-wrapper {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 10px #222;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: white;
  min-width: 1200px;
}

#content-wrapper-form {
  width: 50%;
  height: 100%;
  background: white;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 10px #222;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: white;
  min-width: 1200px;
}
.vert-button{
  color: #FFF;
}
.vert-button:visited{
  color: #FFF;
}
.btn:visited{
  color: #FFF;
}
.vert-button:hover{
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.btn-form{
  
}

.bigtext h1 {
  font-size: 3.5em;
  margin-top: 10%;
  padding-bottom: 0.5em;
}

.bigtext h2 {
  font-size: 3.5em;
  margin-top: 40%;
  padding-bottom: 0.5em;
}

.bigtext p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.graphic {
  margin-top: 30%;
}

.graphic2 {
  margin-top: 40%;
}

section {
  height: 790px;
}

h1.big {
  font-size: 4em;
  line-height: 2.5em;
}
p.big {
  font-size: 1.8em;
  line-height: 1.5em;
}

.center {
  text-align: center;
}




blockquote {
  margin-top: 20px;
  margin-bottom:0px;
}

blockquote p {
  font-size: 20px;
}

blockquote small {
  color: white;
  font-size: 16px;
}

img.round {
  border-radius: 50%;
}

.animated {
  diplay: block;
}

.bottom {
  margin-top: 80px;
}
.nav{
  margin-top: 100%;

}
.nav > li:hover{
  background-color: transparent;
  border-left: 3px solid #000;
}
.nav > li > a:hover{
  background-color: transparent;
}
.nav > li {
  border-left: 3px solid #eee;
  color: #000;
}
.nav > li > a {
  color: #000;
}
.nav > li.active {
  border-left: 0;
  border-left: 3px solid #000;
  color: #000;
}
